Vectorize time deserialization

Record types `SIG` (24) and `RRSIG` (46) both defined in [RFC4043](https://datatracker.ietf.org/doc/html/rfc4034), allow the use of format `YYYYMMDDHHmmSS` to represent time stamps (see [RFC4043 section 3.2](https://datatracker.ietf.org/doc/html/rfc4034#section-3.2)). Currently `strptime` is used (see [this](https://github.com/NLnetLabs/simdzone/blob/81e0902a39d7dbfedb2a331f858abf5fbe294b66/src/parser.h#L317-L376)). The `RRSIG` field occurs often in e.g. the `.se` and since the current deserialization operation seems rather epensive, this may provide a nice performance boost.

Vectorizing the format, at first glance, seems as simple as:
1. doing a `_mm_loadu_si128`;
2. substract `'0'` from all byte elements using `_mm_sub_epi8`;
3. check if any bytes contain a value higher than `9`;
4. multiply all uneven elements by `10`;
5. ...

Some logic will have to be worked in for leap days, but otherwise coming up with a better performing algorithm seems doable.

Timestamps `YYYYmmddHHMMSS` first steps are probably something like:

```
__m128i digits = _mm_loadu_si128((const __m128i *)timestamp);
digits = _mm_sub_epi8(digits, _mm_set1_epi8('0'));

const __m128i weights = _mm_setr_epi8(
//   Y   Y   Y   Y   m   m   d   d,  H   H   M   M   S   S   -   -
    10,  1, 10,  1, 10,  1, 10,  1, 10,  1, 10,  1, 10,  1,  0,  0);

__m128i numbers = _mm_maddubs_epi16(digits, weights);
```

From there we have to apply some magic to get the number of days + leap days. So we'd need to extract the month and year, calculate them and  insert again or continue using scalar logic instead.

Yes. I will look into it.

What I came up with so far... it's likely that it may be easier to just use `seconds_to_year` and `seconds_to_month` tables as they're both small.

```
static const uint32_t days_in_month[13] = {
  0 /* no --month */, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31 };

static const uint32_t days_to_month[13] = {
  0 /* no --month */, 0, 31, 59,  90, 120, 151, 181, 212, 243, 273, 304, 334 };

// code adapted from Python 2.4.1 sources (Lib/calendar.py)
static uint32_t is_leap_year(uint32_t year)
{
  return year % 4 == 0 && (year % 100 != 0 || year % 400 == 0);
}

static uint32_t leap_days(uint32_t y1, uint32_t y2)
{
  --y1;
  --y2;
  return (y2/4 - y1/4) - (y2/100 - y1/100) + (y2/400 - y1/400);
}

__attribute__((noinline))
static const int32_t parse_time(const char *data)
{
  __m128i digits = _mm_loadu_si128((const __m128i *)data);
  digits = _mm_sub_epi8(digits, _mm_set1_epi8('0'));

  // FIXME: add check for digits
  // FIXME: parse either YYYYmmddHHMMSSS or XXXXXXXXXX based on length

  __m128i tens;
  {
    const __m128i weights = _mm_setr_epi8(
//     Y   Y   Y   Y   m   m   d   d   H   H   M   M   S   S   -   -
      10,  1, 10,  1, 10,  1, 10,  1, 10,  1, 10,  1, 10,  1,  0,  0);
    // convert to YY YY mm dd HH MM SS --
    tens = _mm_maddubs_epi16(digits, weights);
  }

  // FIXME: add check for ranges (possibly combine with format?)

  int mon = _mm_extract_epi16(tens, 2);
  int mday = _mm_extract_epi16(tens, 3);

  __m128i year_seconds;
  {
    const __m128i weights = _mm_setr_epi16(
//   YY   YY   mm   dd    HH    MM    SS    --
    100,   1,   0,   0, 3600,   60,    1,    0);
    // convert YY YY into YYYY, HH + MM into SSSS and SS + -- into SS
    year_seconds = _mm_madd_epi16(tens, weights);
    // pack YYYY and convert SSSS + SS into SSSSSS
    year_seconds = _mm_hadd_epi32(year_seconds, year_seconds);
  }

  const int year = _mm_extract_epi32(year_seconds, 0);
  const int seconds = _mm_extract_epi32(year_seconds, 1);

  // FIXME: timestamp is a 32-bit value so the number of year is very limited,
  //        using a seconds_to_year and seconds_to_month may actually be easier
  const int year_in_days = 365 * (year - 1970) + leap_days(1970, year);
  const int days = year_in_days + days_to_month[mon] + mday + is_leap_year(year);

  return days * 86400 + seconds;
}

```


Here is a concept. Tried to favor a scalar multiply. I don't know if it is any good or not. 

```C++
__m128i v = _mm_loadu_si128((const __m128i *)src);
v = _mm_sub_epi8(v, _mm_set1_epi8(0x30));
// todo: check that each lane has a digit that could be valid for that lane (saturation again)

v = _mm_add_epi8(v, _mm_slli_epi16(v, 11));
const __m128i weights = _mm_set_epi8(0, 0, 1, 2, 15, 30, 36, 72, 1, 2, 1, 2, 1, 2, 1, 2);
v = _mm_maddubs_epi16(v, weights);
// 0x000000SS0mmm0HHH`00DD00MM00YY00YY
uint64_t hi = _mm_extract_epi64(v, 1);
uint64_t seconds = (hi * 0x0019000100004000) >> 46;
if (seconds > 86399) {
	; // error: hours lane was 24..29
}

uint64_t lo = _mm_extract_epi64(v, 0);
// todo: ...


// code golf spoiler:
// shift+add allows a subtract of `lane1_mul * 8` from `lane0_mul`
// so we can fit a weight of "(36000/100) - ((3600/100) * 8)" in a single byte.
// the hsum needs 17-bits...  (max possible hsum is 107999 "29:59.59")
// so also strip trailing zeros from the minute lane
// (the scalar mul steals bits -which are zero- from an adjoining lower lane).
```

Thanks @aqrit, I'll have to study it some more, but I like it! Especially the simplified version because it doesn't require SIMD.

Here is a complete version:

```C++
static const int mdays[] = {31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31};
static const int mdays_cumulative[] = {0,31, 59, 90, 120, 151, 181, 212, 243, 273, 304, 334, 365};

static int is_leap_year(int year) {
  return year % 4 == 0 && (year % 100 != 0 || year % 400 == 0);
}

static int leap_days(int y1, int y2) {
  --y1;
  --y2;
  return (y2 / 4 - y1 / 4) - (y2 / 100 - y1 / 100) + (y2 / 400 - y1 / 400);
}

bool sse_parse_time(const char *date_string, uint32_t *time_in_second) {
  __m128i v = _mm_loadu_si128((const __m128i *)date_string);
  // loaded YYYYMMDDHHmmSS.....
  v = _mm_sub_epi8(v, _mm_set1_epi8(0x30));
  // subtracting by 0x30 (or '0'), turns all values into a byte value between 0
  // and 9 if the initial input was made of digits.
  __m128i limit =
      _mm_setr_epi8(9, 9, 9, 9, 1, 9, 3, 9, 2, 9, 5, 9, 5, 9, -1, -1);

  // overflows are still possible, if hours are in the range 24 to 29
  // of if days are in the range 32 to 39
  // or if months are in the range 12 to 19.
  __m128i abide_by_limits = _mm_cmpeq_epi8(_mm_max_epu8(v, limit), limit);

  if (!_mm_test_all_ones(abide_by_limits)) {
    return false;
  }
  // shift+add allows a subtract of `lane1_mul * 8` from `lane0_mul`
  // so we can fit a weight of "(36000/100) - ((3600/100) * 8)" in a single
  // byte. the hsum needs 17-bits...  (max possible hsum is 107999 "29:59.59")
  // so also strip trailing zeros from the minute lane
  // (the scalar mul steals bits -which are zero- from an adjoining lower lane).
  v = _mm_add_epi8(v, _mm_slli_epi16(v, 11));
  //
  const __m128i weights =
      _mm_set_epi8(0, 0, 1, 2, 15, 30, 36, 72, 1, 2, 1, 2, 1, 2, 1, 2);
  v = _mm_maddubs_epi16(v, weights);
  // 0x000000SS0mmm0HHH`00DD00MM00YY00YY

  uint64_t hi = (uint64_t)_mm_extract_epi64(v, 1);
  //
  uint64_t seconds = (hi * 0x0019000100004000) >> 46;
  if (seconds > 86399) {
    return false;
  }

  uint64_t lo = (uint64_t)_mm_extract_epi64(v, 0);
  uint64_t yr = (lo * 0x64000100000000) >> 48;
  uint64_t mo = ((lo & 0x000000ff00000000) >> 32) - 1;
  if (mo >= 12) {
    return false;
  }

  uint64_t dy = (lo & 0x000000ff000000000000) >> (32 + 16);

  bool is_leap_yr = is_leap_year((int)yr);

  if (dy > (uint64_t)mdays[mo]) {
    if (!(mo == 1 && is_leap_yr)) {
      return false;
    }
  }
  uint64_t days = 365 * (yr - 1970) + (uint64_t)leap_days(1970, (int)yr);

  days += (uint64_t)mdays_cumulative[mo];
  if (mo > 1 && is_leap_yr) {
    ++days;
  }
  days += dy - 1;
  *time_in_second = (uint32_t)(seconds + days * 60 * 60 * 24);
  return true;
}

```

https://github.com/lemire/Code-used-on-Daniel-Lemire-s-blog/tree/master/2023/06/30

(It is not tied to a blog post at this time).


This can be obviously optimized much further but I did not want to do much optimization, I just wanted something 'correct'.

You can run my benchmark. It is good, certainly much faster (7x boost) but I have a suspicion that there is much we can optimize. The second half is quite naive.





Thanks @lemire (and of course @aqrit too). Great stuff as always! This is really going to help with RRSIG records in DNSSEC signed zones (.se is a good example). I'll probably merge this on Monday and give the benchmark a try too (don't know why I haven't done that before come to think of it).

Something I was thinking about over the week is maybe the trick for hours to seconds as @aqrit did in his example may be used for years as well? (don't know for sure, but at first glance it seems very similar?)

This part:
```  
 v = _mm_add_epi8(v, _mm_slli_epi16(v, 11));
  //
  const __m128i weights =
      _mm_set_epi8(0, 0, 1, 2, 15, 30, 36, 72, 1, 2, 1, 2, 1, 2, 1, 2);
  v = _mm_maddubs_epi16(v, weights);
// 0x000000SS0mmm0HHH`00DD00MM00YY00YY
uint64_t hi = _mm_extract_epi64(v, 1);
uint64_t seconds = (hi * 0x0019000100004000) >> 46;
```

The shift and add could be removed with the simplification:
```
    const __m128i weights = _mm_setr_epi8(
//     Y   Y   Y   Y   m   m   d   d   H   H   M   M   S   S   -   -
      10,  1, 10,  1, 10,  1, 10,  1, 10,  1, 10,  1, 10,  1,  0,  0);
    v = _mm_maddubs_epi16(v, weights);
  uint64_t hi = _mm_extract_epi64(v, 1);
  uint64_t seconds = (v * 0x0384000F00004000) >> 46;
```


> I'll probably merge this on Monday and give the benchmark a try too (don't know why I haven't done that before come to think of it).

I would hold on before merging to your main branch. There may still optimization opportunities and fixes needed.

@aqrit It speeds things up a little bit and it is easier to understand.

Here is a new version. It does more work in SIMD:

```C++

bool sse_parse_time(const char *date_string, uint32_t *time_in_second) {
  __m128i v = _mm_loadu_si128((const __m128i *)date_string);
  // loaded YYYYMMDDHHmmSS.....
  v = _mm_sub_epi8(v, _mm_set1_epi8(0x30));
  // subtracting by 0x30 (or '0'), turns all values into a byte value between 0
  // and 9 if the initial input was made of digits.
  __m128i limit =
      _mm_setr_epi8(9, 9, 9, 9, 1, 9, 3, 9, 2, 9, 5, 9, 5, 9, -1, -1);
  // credit @aqrit
  // overflows are still possible, if hours are in the range 24 to 29
  // of if days are in the range 32 to 39
  // or if months are in the range 12 to 19.
  __m128i abide_by_limits = _mm_subs_epu8(v, limit); // must be all zero
  // 0x000000SS0mmm0HHH`00DD00MM00YY00YY

  const __m128i weights = _mm_setr_epi8(
  //     Y   Y   Y   Y   m   m   d   d   H   H   M   M   S   S   -   -
      10,  1, 10,  1, 10,  1, 10,  1, 10,  1, 10,  1, 10,  1,  0,  0);
    v = _mm_maddubs_epi16(v, weights);
  __m128i limit16 =
      _mm_setr_epi16(99,99, 12, 31, 23, 59, 59, -1);
  __m128i abide_by_limits16 = _mm_subs_epu16(v, limit16); // must be all zero
  __m128i combined_limits = _mm_or_si128(abide_by_limits16,abide_by_limits); // must be all zero

  if (!_mm_test_all_zeros(combined_limits, combined_limits)) {
    return false;
  }
  uint64_t hi = (uint64_t)_mm_extract_epi64(v, 1);
  uint64_t seconds = (hi * 0x0384000F00004000) >> 46;
  uint64_t lo = (uint64_t)_mm_extract_epi64(v, 0);
  uint64_t yr = (lo * 0x64000100000000) >> 48;
  uint64_t mo = ((lo >> 32) & 0xff) - 1;
  uint64_t dy = (uint64_t)_mm_extract_epi8(v, 6); // could also be (lo >> 48) & 0xffff

  bool is_leap_yr = is_leap_year((int)yr);

  if (dy > (uint64_t)mdays[mo]) {
    if (mo == 1 && is_leap_yr) {
      if(dy != 29) {
        return false;
      }
    } else {
      return false;
    }
  }
  uint64_t days = 365 * (yr - 1970) + (uint64_t)leap_days(1970, (int)yr);

  days += (uint64_t)mdays_cumulative[mo];
  if (mo > 1 && is_leap_yr) {
    ++days;
  }

  days += dy - 1;
  *time_in_second = (uint32_t)(seconds + days * 60 * 60 * 24);
  return true;
}

```

> Something I was thinking about over the week is maybe the trick for hours to seconds as @aqrit did in his example may be used for years as well? (don't know for sure, but at first glance it seems very similar?)

You definitively can... but the issue is to vectorize the variable numbers of days per month. I am not saying it cannot be done, it sure can, but it is tricky.

I have moved the files to 06/30 => 07/01 and I am preparing a blog post.

Blog post:

[Parsing time stamps faster with SIMD instructions](https://lemire.me/blog/2023/07/01/parsing-time-stamps-faster-with-simd-instructions/)

(with credit to both of you)

Nice writeup! Another data type optimized and documented :slightly_smiling_face:

Rewriting `is_leap_year` as:
```
static inline uint64_t is_leap_year(int year) {
  return (year % 4 == 0) & ((year % 100 != 0) | (year % 400 == 0));
}
```

and then rewriting:
```
if (mo > 1 && is_leap_yr) {
  ++days;
}
```
as
```
days += is_leap_yr & (mo > 1);
```

Gets us a little extra. I'm sure there's more to gain.

afaik, there needs to be a check to ensure the day, months, and possibly years, are not lower than expected.

For example, a month value of "00" would lead to an access outside the `mdays` array?

There are definitively bugs lurking. :-)

That's why I have not issued a PR yet.

Ok. So this version has a bunch of safeties builtin:

```C
bool sse_parse_time(const char *date_string, uint32_t *time_in_second) {
  // We load the block of digits. We subtract 0x30 (the code point value of the
  // character '0'), and all bytes values should be between 0 and 9,
  // inclusively. We know that some character must be smaller that 9, for
  // example, we cannot have more than 59 seconds and never 60 seconds, in the
  // time stamp string. So one character must be between 0 and 5. Similarly, we
  // start the hours at 00 and end at 23, so one character must be between 0
  // and 2. We do a saturating subtraction of the maximum: the result of such a
  // subtraction should be zero if the value is no larger. We then use a special
  // instruction to multiply one byte by 10, and sum it up with the next byte,
  // getting a 16-bit value. We then repeat the same approach as before,
  // checking that the result is not too large.
  //
  __m128i v = _mm_loadu_si128((const __m128i *)date_string);
  // loaded YYYYMMDDHHmmSS.....
  v = _mm_xor_si128(v, _mm_set1_epi8(0x30));
  // W can use _mm_sub_epi8 or _mm_xor_si128 for the subtraction above.
  // subtracting by 0x30 (or '0'), turns all values into a byte value between 0
  // and 9 if the initial input was made of digits.
  __m128i limit =
      _mm_setr_epi8(9, 9, 9, 9, 1, 9, 3, 9, 2, 9, 5, 9, 5, 9, -1, -1);
  // credit @aqrit
  // overflows are still possible, if hours are in the range 24 to 29
  // of if days are in the range 32 to 39
  // or if months are in the range 12 to 19.
  __m128i abide_by_limits = _mm_subs_epu8(v, limit); // must be all zero

  __m128i byteflip = _mm_setr_epi64((__m64)0x0607040502030001ULL,
                                    (__m64)0x0e0f0c0d0a0b0809ULL);

  __m128i little_endian = _mm_shuffle_epi8(v, byteflip);
  __m128i limit16 = _mm_setr_epi16(0x0909, 0x0909, 0x0102, 0x0301, 0x0203,
                                   0x0509, 0x0509, -1);
  __m128i abide_by_limits16 =
      _mm_subs_epu16(little_endian, limit16); // must be all zero

  __m128i combined_limits =
      _mm_or_si128(abide_by_limits16, abide_by_limits); // must be all zero
  // We want to disallow 0s for days and months... and we want to make
  // sure that we don't go back in time prior to 1900.
  __m128i limit16_low = _mm_setr_epi16(0x0109, 0, 0x0001, 0x0001, 0, 0, 0, 0);

  __m128i abide_by_limits16_low =
      _mm_subs_epu16(limit16_low, little_endian); // must be all zero
  combined_limits = _mm_or_si128(combined_limits, abide_by_limits16_low);

  if (!_mm_test_all_zeros(combined_limits, combined_limits)) {
    return false;
  }
  // 0x000000SS0mmm0HHH`00DD00MM00YY00YY
  //////////////////////////////////////////////////////
  // pmaddubsw has a high latency (e.g., 5 cycles) and is
  // likely a performance bottleneck.
  /////////////////////////////////////////////////////
  const __m128i weights = _mm_setr_epi8(
      //     Y   Y   Y   Y   m   m   d   d   H   H   M   M   S   S   -   -
      10, 1, 10, 1, 10, 1, 10, 1, 10, 1, 10, 1, 10, 1, 0, 0);
  v = _mm_maddubs_epi16(v, weights);

  uint64_t hi = (uint64_t)_mm_extract_epi64(v, 1);
  uint64_t seconds = (hi * 0x0384000F00004000) >> 46;
  uint64_t lo = (uint64_t)_mm_extract_epi64(v, 0);
  uint64_t yr = (lo * 0x64000100000000) >> 48;

  // We checked above that dy and mo are >= 1
  uint64_t mo = ((lo >> 32) & 0xff) - 1;
  uint64_t dy = (uint64_t)_mm_extract_epi8(v, 6);

  bool is_leap_yr = is_leap_year((int)yr);

  if (dy > (uint64_t)mdays[mo]) { // unlikely branch
    if (mo == 1 && is_leap_yr) {
      if (dy != 29) {
        return false;
      }
    } else {
      return false;
    }
  }
  uint64_t days = 365 * (yr - 1970) + (uint64_t)leap_days(1970, (int)yr);

  days += (uint64_t)mdays_cumulative[mo];
  days += is_leap_yr & (mo > 1);

  days += dy - 1;
  uint64_t time_in_second64 = seconds + days * 60 * 60 * 24;
  *time_in_second = (uint32_t)time_in_second64;
  return time_in_second64 == (uint32_t)time_in_second64;
}

```

I have issued a PR for discussion.

>  I'm sure there's more to gain.

The 32-bit timestamp spans from year 1970 to 2106.
Therefore, the only special case for leap years is 2100.
This fact could be exploited to probably save over a dozen instructions.

```C
uint32_t is_leap_year (uint32_t year) {  
  return (year % 4 == 0) & (year != 2100);
}

uint32_t leap_days (uint32_t year) { 
  --year;
  return (year/4 - 1970/4) - (year >= 2100);
}
```

PR at https://github.com/NLnetLabs/simdzone/pull/79

Thanks @aqrit! And, of course, thanks @lemire!