Epoch timestamps in RRSIG not supported

Expiration time and inception time fields may be expressed as either an unsigned decimal integer indicating seconds since 1 January 1970 00:00:00 UTC, or in the form `YYYYMMDDHHmmSS` in UTC (see [RFC4034 section 3.2](https://datatracker.ietf.org/doc/html/rfc4034#section-3.2)).

Integer parsing code is mostly copy pasted as needed, it's probably worth consolidating and perhaps optimizing for large integer values. An initial version can be found in a [comment on #25](https://github.com/NLnetLabs/simdzone/issues/25#issuecomment-1822398380). A benchmark should tell us if it's worth it (optimization is not relevant for 0.1.0).