Support reordering of SvcParams in generic notation when primary

SvcParams  in `SVCB` and `HTTPS` RRs **SHALL** appear in increasing numeric order. ([RFC9460 section 2.2](https://datatracker.ietf.org/doc/html/rfc9460#section-2.2)). When either RR is specified in text (non-generic notation), this is taken care of by the parser in strict mode (for primary nameservers). This should also be done when the record is specified in generic notation (not currently the case in [NSD](https://github.com/NLnetLabs/nsd) either) as there is really no distinction between the formats if the software is familiar with the RR. Note that reordering **MUST** not be done when the parser is configured as secondary either in generic or non-generic encoding.