Fix embedded newline count

The presentation format allows for embedded newlines, i.e. `"foo\nbar"` and `foo\nbar`. These are most certainly edge cases and while BIND does not allow for embedded newlines, [RFC1035 section 5.1](https://datatracker.ietf.org/doc/html/rfc1035#section-5.1) does:

> Entries are predominantly line-oriented, though parentheses can be used to continue a list of items across a line boundary, and text literals can contain CRLF within the text.

The scanner handles these in a special way so that the parser doesn't have too. Apparently, the logic is not quite right yet, fix that.

Fixed by #175.